.card-coustom{
    background-image: linear-gradient(to top , white 0%  ,  rgba(255, 255, 255, 0) 100%);
    border-radius: 10px;
    cursor: pointer;
}

.title{
    font-weight: bold;
}
.descrpion{
    color: rgb(116, 116, 116);
    font-weight: 500;

}
.price{
    font-weight: bold;
    color: #FF0000;
}

.img-co {
    position: relative;
    margin: auto;
    display: inline-block;
    width: 60%;
    
}

.img-co::before {
    content: '';
    position: absolute;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border: 2px dashed #FF0000;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    animation: spin 15s linear infinite;
}

.img-bestfood {
    display: block;
    width: 100%;
    height: auto;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.Bestfood{
    color: #FF7000;
}

/* تأثير الأنيميشن للنصوص */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-in {
    animation: fadeIn 1s ease-out forwards;
}

/* تأثير للصور أو الأيقونات */
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateZ(40px);
    }

    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}

.animate-in-icon {
    animation: slideIn 1s ease-out forwards;
}

.Bestfood {
    font-size: 2rem;
    font-weight: bold;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
} 