.food-menu-container{
    background-color: #F5F1EA;
    border-radius:40px ;
}

.food-menu-asnaf{
    border-radius: 5px;
    background-color: #ffe9b6;
    transition: 0.5s;
}
.menu{
    
/* background-image: linear-gradient(-45deg ,#FAD59A 0% , #FCEFCB 100%); */
border-radius: 10px;
}
.food-menu-asnaf:hover,.food-menu-asnaf.active{
    cursor: pointer;
    background-color: #EA7127;
    color: white;
    transform: scale(1.05);
}
.imgfluid{
background-color: #F4F1EA;
border-radius: 20px ;

}

.btn-add-cart {
    position: relative;
    overflow: hidden;
    background-color: #FF0000;
    color: white;
    /* لون الإطار */
    border-radius: 8px;
    cursor: pointer;
    transition:  0.4s ease;
}
.btn-add-cart:hover{
    transform: scale(1.05);
}
.btn-add-cart::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 50%;
    background-color: #000F1C;
    /* اللون الأزرق اللي هيملأ */
    z-index: 0;
    transition: width 0.5s ease;
}

.btn-add-cart:hover::before {
    width: 100%;
}

.btn-add-cart::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 50%;
    background-color: #000F1C;
    /* اللون الأزرق اللي هيملأ */
    z-index: 0;
    transition: width 0.5s ease;
}
.btn-add-cart:hover::after {
    width: 100%;
}

.btn-add-cart:hover {
    color: white;
    /* لو حابب تغير اللون أثناء الهفر */
}

.btn-add-cart span {
    position: relative;
    z-index: 1;
}
.fivestar{
    color: goldenrod;
    letter-spacing: 3px;
}
.title{
    color: #EA7127;
}
.card-coustom {
    background-image: linear-gradient(to top, white 0%, rgba(255, 255, 255, 0) 80%);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease;
}
.card-coustom:hover{
transform: rotate(2deg) translateX(5px) scale(1.03)!important;
    background-image: linear-gradient(to top, #040F1C 0%, #040F1C 100%);
    color: white;
}