.footer{
    background-color: #040F1C;
    padding-bottom: 2rem;
    padding-top: 3rem;
}
.contact-div{
    background-color: #FF7000;
    border-radius: 20px;
}
.link{
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: 0.5s;
}
.link:hover{
    color: #E62E2D;
    cursor: pointer;
    transform: translateX(10px)!important;
}
.items-time{
    color: #FF7000;
}

.inp-email{
    background-color: white;
    border-radius: 10px;
}
.inp-email input{
     border: none;
    outline: none;
    box-shadow: none;
}

.arrow{
    background-color: #FF7000;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}
.arrow:hover{
    background-color: #040F1C;
}
.icon-2{
    border: 1px solid white;
    transition: 0.4s ease;
}
.icon-2:hover{
    background-color: #E62E2D;
    cursor: pointer;
}
.line{
    position: relative;
    
}
.line::after{
    content: '';
    border-bottom:2px solid red ;
    position: absolute;
    left:30%;
    bottom: -30%;
    width: 10%;
}
.line::before{
    content: '';
    border-bottom:2px solid #FF7000 ;
    position: absolute;
    right:35%;
    bottom: -30%;
    width: 20%;
}